@import url(
  'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  /* background: #150019; */
  background: rgb(168, 137, 210);
}
.navigation{
  /* width: 40%; */
/* -----temp style end---- */
  /* display: none; */
  /* background: #3e0748; */
  background-color: #3b235c;
  position: fixed;
  width: 4rem;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  z-index: 1;
}
.navigation:hover{
  width: 12rem;
}
.navigation ul{
  /* background: pink; */
  /* ---temp style end ---- */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  /* background: green; */
  /* margin: 5px; */
  /* -----temp style end----- */
  /* position: relative; */
  width: 100%;
  list-style: none;
  transition: 450ms;
}
.navigation ul li:hover {
  background: rgb(253, 232, 239, 0.3);
  border-radius: 8px;
}
.navigation ul li a {
  /* background: red; */
  /* margin: 5px; */
  /* ----temp style end---- */
  /* position: relative; */
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation ul li a .icon{
  /* background: orange; */
  /* ------temp style end------- */
  /* position: relative; */
  /* display: block; */
  min-width: 4rem;
  height: 4rem;
  padding-top: 15px;
  line-height: 4rem;
  text-align: center;
}
.navigation ul li a .icon .fa{
  font-size: 1.5rem;
}
.navigation ul li a .title{
  /* background: yellow; */
  /* margin: 2px; */
  /* ------temp style end---- */
  /* height: 4rem; */
  /* text-align: start; */
  position: relative;
  display: block;
  padding:  0 10px;
  line-height: 4rem;
  white-space: nowrap;
}

td{
  color: #fff;
  text-align: center;
  padding: 5px;
}
tr{
  background-color: #3b235c;
  padding: 20px;
  transition: all 450ms;
}

.summary{
  /* margin-left: 25%; */
  /* margin: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 10px 50px 14rem;
  padding: 20px;
}
table{
  margin-top: 100px;
  margin-left: 14rem;
  transition: all 1s;
}
table:hover{
  opacity: 0.8;
}
table tr:hover{
  opacity: 1.0;
  background-color: rgb(255, 192, 203, 0.2);
}

.logo img{
  margin-left: 40%;
  margin-top: 50px;
  margin-bottom: 20px;
  height: 40px;
}

.glass{
  display: flex;
  position: relative;
  width: 70%;
  height: 70vh;
  margin-left: 25%;
  padding: 40px;
  background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.1), rgba(255,255,255, 0.5));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255,255,255, 0.15);
  border-radius: 10px;
}
/* .summary.card{ */
  /* display: flex; */
  /* margin: 20px; */
  /* flex-direction: column; */
  /* flex-basis: 50%; */
  /* position: relative; */
/* } */
.summary .card .glass-card{
  background: rgba(255,255,255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(3px);
  box-shadow: 1px 1px 1px 0 rgba(255,255,255, 0.4);
  /* position: absolute; */
  min-width: 20rem;
  height: 10rem;
  padding: 15px;
  /* z-index: 1; */
}
div.glass-card h2{
  font-size: 1.5rem;
  margin: 1rem;
  color: #fff;
}
div.glass-card .icon{
  display: flex;
  align-items: center;
}
.circle1{
  position: absolute;
  margin-top: -10px;
  top: 0;
  left: 0;
  transform: translateX(-30%, -30%) rotate(45deg);
}
.circle1 img{
  width: 3rem;
}

@media(){}
